src/*/backup/*
src/lib/*/lib/*
src/lib/*/backup/*
src/tests/lib/*
src/tests/backup/*
src/tests/*_test
backup/*
reference/sip/SIP_IMS_Specifications_For_Dummies.pdf
reference/gcp/MEGACOvsMGCP_v3.pdf
*.lpi
*.bak
*~
tmp/
*.ppu
*.o
*.ico
*.res
*.dbg
gmon.out
project1
